{% block js %}
	<script src="{{ asset('js/showRechercheEtabsByDept.js') }}"></script>
{% endblock %}
<h4>Rappel</h4>
<form id="rappel" method="post" accept-charset="UTF-8">
	<input type="hidden" name="dept" value="{{ departementSelectionne.numero }}"/>
	<table class="tdb_rappel">
		<tr>
			<th scope="row">Nombre d’écoles ou d’établissements sans aucune saisie </th>
			<th scope="row">{{ nbTotalEtabAucunEnr }}</th>
		</tr>
		<tr>
			<th scope="row">Nombre de PV de carence</th>
			<th scope="row">{{ nbTotalCarence~" ("~pourcentageCarence|number_format(2, '.', ',')~"%)" }} </th>
		</tr>
		<tr>
			<th scope="row">Nombre de nouvelles élections à organiser</th>
			<th scope="row">{{ nbTotalNewElection~" ("~pourcentageNewElection|number_format(2, '.', ',')~"%)" }}</th>
		</tr>
	</table>
	<br>
</form>
{% if form is defined %}
	{% include 'tableauDeBord/formulaireTdbRecherche.html.twig' with { 'form' : form } %}
{% endif %}

<h4>Écoles ou Établissements du département {{ departementSelectionne.libelle }}</h4>
<form id="traitement_en_masse" method="post" accept-charset="UTF-8">
	<input type="hidden" name="dept" value="{{ departementSelectionne.numero }}"/>
	<input type="hidden" name="nbEtabRelance" id="nbEtabRelance" value=""/>
	<table class="tdb_ce">
		<tr>
			<th scope="col" class="campagne">Ecole ou établissement</th>
			<th scope="col" class="commune">Commune</th>
			<th scope="col" class="election">Election</th>
			<th scope="col">Avancement de la saisie</th>
			<th scope="col" class="actions" >Actions</th>
			<th scope="col" class="actions" >Validation<input type="checkbox" id="massValidChk"/></th>
			<th scope="col" class="actions" >Courriel<input type="checkbox" id="massCourrielChk"/></th>
		</tr>
		{# Tableau des resultats pour les etablissement selon les filtres des cases #}
		{% for etab in tabBordEtab %}
			{% for eleEtab in etab['EleEtab'] %}
				{# si non effectué est coché on affiche meme les etabs qui n'ont pas de eleEtab #}
				{% if afficheEleNull %}
					{# si que le non effectué qui est coché on affiche que les etabs qui n'ont pas de eleEtab #}
					{% if nonEff is defined %}
						{% if eleEtab['eleEtablissement'] is null %}
							{% include 'tableauDeBord/tableau_etabs_par_departement.html.twig'%}
						{% endif %}
					{% else %}
						{# si le non effectué est  coché avec un autre critere on affiche eleEtab null et critere #}
						{% include 'tableauDeBord/tableau_etabs_par_departement.html.twig'%}
					{% endif %}
				{% else %}
					{# si non effectué n'est pas coché on n'affiche pas les etabs qui n'ont pas de eleEtab #}
					{% if eleEtab['eleEtablissement'] is not null %}
						{% include 'tableauDeBord/tableau_etabs_par_departement.html.twig'%}
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	</table>
	<div class="boutons">
		<input type="submit" id="validationMasseResultats" value="Valider les résultats" />
		<input type="submit" id="courrielMasse" value="Envoyer les courriels" />
	</div>
</form>
<script type="text/javascript">
	//Evolution 219401 mass validation
	var limitMassValidation = {{ maxMassValidationSelect }};
	// Clic sur le bouton de validation en haut de la liste des établissements
	$('#massValidChk').click(function() {
		if(this.checked) {
			$('[id^="valide_"]').each(function() {
				this.checked = true;
			});

			var numberOfChecked = $('input[class="mass_validation_input"]:checked').length;
			if(numberOfChecked > limitMassValidation){
				var message = "Uniquement " + limitMassValidation + " résultats à valider seront sélectionnés",
						classNotification = "notification_warning",
						timeout = 5000;
				flashNotification(message,classNotification,timeout);
				var i = 0;
				$('[id^="valide_"]').each(function() {
					i = i+1;
					if(i <= limitMassValidation){
						this.checked = true;
					} else {
						this.checked = false;
					}
				});

			}
		}else{
			$('[id^="valide_"]').each(function() {
				this.checked = false;
			});
		}
	});

	$('input.mass_validation_input').on('change', function() {
		var numberOfChecked = $('input[class="mass_validation_input"]:checked').length;
		if(numberOfChecked > limitMassValidation){
			var message = "Vous avez atteint la limite des résultats qui peuvent être sélectionnés",
					classNotification = "notification_warning",
					timeout = 5000;
			flashNotification(message,classNotification,timeout);
			this.checked = false;
		}
	});

	// Clic sur le bouton de validation des résultats
	$('#validationMasseResultats').click(function() {
		var globalCheck = ($('input[id^="valide_"]:checked').length > 0);
		if(!globalCheck){
			alert('Veuillez sélectionner au moins une validation à effectuer.');
		}else if(confirm('Confirmez-vous votre demande de validation des résultats ?')){
			$('#traitement_en_masse').attr('action','{{ path('ECECA_validation_resultats_masse' ) }}' );
		}else{
			return false; // pour éviter de recharger la page.
		}
		return globalCheck;
	});

	// Clic sur le bouton de courriel en haut de la liste des établissements
	$('#massCourrielChk').click(function() {
		if(this.checked) {
			$('[id^="courriel_"]').each(function() {
				this.checked = true;
			});
		}else{
			$('[id^="courriel_"]').each(function() {
				this.checked = false;
			});
		}
	});

	// Clic sur le bouton de validation des résultats
	$('#courrielMasse').click(function() {
		var globalCheck = ($('input[id^="courriel_"]:checked').length > 0);
		if(!globalCheck){
			alert('Veuillez sélectionner au moins un établissement à contacter.');
		}else{
			let uais = [];
			const etabChecked = $('input[id^="courriel_"]:checked');
			etabChecked.toArray().forEach(function (etab) {
				const uai = etab.name.split('_')[0];
				if(!uais.includes(uai)) {
					uais.push(uai);
				}
			});
			$('#nbEtabRelance').val(uais.length);
			$('#traitement_en_masse').attr('action','{{ path('ECECA_masse_courriel') }}' );
		}
		return globalCheck;
	});


	//Evolution 219401 mass validation
	function flashNotification(message, classNotification, timeout) {
		$(".notification_mass_validation").css("display", 'block');
		$(".notification_mass_validation").addClass(classNotification);
		$(".notification_mass_validation").html(message);
		$(".notification_mass_validation").slideDown(function() {
			setTimeout(function() {
				$(".notification_mass_validation").slideUp();
			}, timeout);
		});
	}


</script>