<tr>
    <td>{{ etab['Etab'].uai }}
        - {{ etab['Etab'].libelle }} {% if  etab['Etab'].actif == null %} (fermé) {% endif %}</td>
    <td>{{ etab['Etab'].commune.libelle }}</td>
    <td>{{ eleEtab['typeElection'].code }} {% if eleEtab['campagne'] is not empty %}{{ eleEtab['campagne'].anneeDebut }}-{{ eleEtab['campagne'].anneeFin }} {% if eleEtab['campagne'].archivee %}
            <span class="archivee">(fermée)</span>{% endif %} {% endif %}</td>
    {% if eleEtab['campagne'] is not empty %}
        <td>
            {% include 'tableauDeBord/etabs_avancement.html.twig' with { 'eleEtablissement' : eleEtab['eleEtablissement'], 'campagne' : eleEtab['campagne'] , 'nouvelleElection' : eleEtab['canSaisieNouvelleElection']} %}
        </td>
        <td class="actionsAlerte">
            {% if eleEtab['eleEtablissement'] is not empty %}
                <a href="{{ path('ECECA_resultats_etablissement', { 'codeUrlTypeElect':(eleEtab['typeElection'].getCodeUrlById()), 'uai':etab['Etab'].uai }) }}"><img
                            src="{{ asset('images/pictos/consultation.png') }}" alt="Consulter les résultats"
                            title="Consulter les résultats"/></a>
            {% endif %}
            {% if eleEtab['Carence'] %}
                <img src="{{ asset('images/pictos/exclamation.png') }}" alt="absence de candidats"
                     title="absence de candidats"/>
            {% endif %}
            {% if eleEtab['Deficit'] %}
                <img src="{{ asset('images/pictos/deficit.png') }}" alt="déficit de candidats"
                     title="déficit de candidats"/>
            {% endif %}
            {% if eleEtab['saisiePossible'] and etab['Etab'].actif == true %}
                <a href="{{ path('ECECA_saisie_resultats_etab', { 'etablissementUai':etab['Etab'].uai, 'codeUrlTypeElect':(eleEtab['typeElection'].getCodeUrlById()) }) }}"><img
                            src="{{ asset('images/pictos/edit.png') }}" alt="Saisir ou modifier les résultats"
                            title="Saisir ou modifier les résultats"/></a>
            {% endif %}
            {% if eleEtab['canSaisieNouvelleElection'] %}
                <a href="{{ path('ECECA_saisie_resultats_etab', { 'etablissementUai':etab['Etab'].uai, 'codeUrlTypeElect':(eleEtab['typeElection'].getCodeUrlById()) }) }}"><img
                            src="{{ asset('images/pictos/edit.png') }}" alt="Saisir ou modifier les résultats"
                            title="Saisir ou modifier les résultats"/></a>
            {% endif %}
        </td>
        <td class="actions">
            {% if eleEtab['validationPossible'] %}
                <input type="checkbox" name="{{ eleEtab['eleEtablissement'].id }}" class="mass_validation_input"
                       id="valide_{{ eleEtab['eleEtablissement'].id }}"/>
            {% endif %}
        </td>
        <td class="actions">
            {# YME - HPQC DEFECT #214 #}
            {% if eleEtab['campagneOpenSaisie'] and etab['Etab'].actif == true
                and (eleEtab['eleEtablissement'] is empty or ( eleEtab['eleEtablissement'] is not empty and eleEtab['eleEtablissement'].isSaisi == true )) %}
                <input type="checkbox"
                       name="{{ etab['Etab'].uai }}_C{{ eleEtab['campagne'].id }}_{% if eleEtab['hasSousType'] is defined %}{{ eleEtab['hasSousType'] }}{% endif %}{{ eleEtab['typeElection'].id }}"
                       id="courriel_{{ etab['Etab'].uai }}"/>
            {% endif %}
        </td>
    {% else %}
        <td>{{ erreurs[003] }}</td>
        <td class="action" colspan="2"></td>
    {% endif %}
</tr>
				