<html>
	{% block stylesheets %}
		<link href="css/eple_pdf.css" type="text/css" rel="stylesheet" />
	{% endblock %}
	<body>
		<h3>Résultats de <span>l'établissement {{ electEtablissement.etablissement.libelle }} ({{ electEtablissement.etablissement.uai }})</span></h3>
		<h4>Rappel</h4>
		<table>
			<tr>
				<th scope="row">Campagne</th>
				<td>{{ electEtablissement.campagne.anneeDebut }} - {{ electEtablissement.campagne.anneeFin }}</td>
			</tr>
			<tr>
				<th scope="row">Type d'établissement</th>
				<td>{{ electEtablissement.etablissement.typeEtablissement.libelle }}</td>
			</tr>
			<tr>
				<th scope="row">Catégorie</th>
				<td>{% if electEtablissement.etablissement.typePrioritaire.code is defined %}{{ electEtablissement.etablissement.typePrioritaire.code }}{% else %}N/A{% endif %}</td>
			</tr>
			<tr>
				<th scope="row">Commune (Département)</th>
				{% if electEtablissement.etablissement.commune is not empty %}
					<td>{{ electEtablissement.etablissement.commune.libelle }} ({{ electEtablissement.etablissement.commune.departement.libelle}})</td>
				{% else %}
					<td><abbr title="Non communiqué">N/C</abbr></td>
				{% endif %}
			</tr>
		</table>
		
		{% if electEtablissement.participation is not empty %}
			{% include 'EPLEElectionBundle:Resultat:consultationResultats.html.twig' with { 
							'campagne' : electEtablissement.campagne,
							'electEtablissement' : electEtablissement,
							'participation' : electEtablissement.participation, 
							'resultats' : electEtablissement.resultats} %}
		{% else %}
			<p class="message erreur">{{ erreurs[002] }}</p>
		{% endif %}
	</body>
</html>