{% extends 'EPLEAdminBundle::layout.html.twig' %}

{% block js %}{{ parent() }}<script src="{{ asset('js/etab.js') }}"></script>{% endblock %}

{% block title %}{{ parent() }} - Liste des établissements{% endblock %}

{% block arianeComplements %}{{ parent() }}<li>Liste des établissements</li>{% endblock %}

{% block h3 %}<h3>Référentiel des établissements</h3>{% endblock %}	

{% block content %}
<p>
	La liste des établissements correspond à l'ensemble des établissements contenus en base de données. Les
	établissements inactifs sont grisés et placés en fin de liste.
</p>

<form action="{{ path('EPLEAdminBundle_etablissement') }}" method="post" accept-charset="UTF-8">
	<div id="form">	
		{{ form_errors(form) }}
		<div id="academie">{{ form_label(form['academie']) }}{{ form_widget(form['academie']) }}</div>
		<div id="departement">{{ form_label(form['departement']) }}{{ form_widget(form['departement']) }}</div>
		<div id="choix_commune">{{ form_label(form['commune']) }}{{ form_widget(form['commune']) }}</div>
		<div>{{ form_label(form['commune_inconnue']) }}{{ form_widget(form['commune_inconnue']) }}</div>	
		<div>{{ form_label(form['typeEtablissement']) }}{{ form_widget(form['typeEtablissement']) }}</div>
		{{ form_rest(form) }}
	</div>
	
	<div class="boutons"><input type="submit" value="Rechercher" title="Rechercher les établissements" /></div>
	
	<input type="hidden" value="{{ app.session.get('select_departement') }}" id="departement_selectionne" />
	<input type="hidden" value="{{ app.session.get('select_commune') }}" id="commune_selectionne" />
	<input type="hidden" value="{{ app.user.idZone }}" id="id_zone_user" />
</form>

<p class="no-print"><a href="{{ path('EPLEAdminBundle_etablissement_ajouter') }}" class="ajouter">Ajouter un établissement</a></p>


{% if nbresultats > 0 %}<h4>Résultats : {{ nbresultats }} établissements trouvés</h4>{% endif %}

{% include "EPLEAdminBundle:Etablissement:pagination.html.twig" %} 
{% include "EPLEAdminBundle:Etablissement:liste_etablissement.html.twig" %} 
{% include "EPLEAdminBundle:Etablissement:pagination.html.twig" %} 

<script type="text/javascript">
  	var getAcademieDepartementCommuneFromZoneAjaxPath = "{{ path('EPLEAdminBundle_ajax_getAcaDepComByZone') }}";
  	afficheAcademieDepartementCommune();
  	afficherChampsCommune();
  	ajouterIndicatorChargement('form');
</script>
{% endblock %}