<table id="liste_etablissement">
	<tr>
		<th scope="col"><abbr title="Unité administrative immatriculée">UAI</abbr></th>
		<th scope="col"><abbr title="Code postal">CP</abbr></th>
		<th scope="col">Commune</th>
		<th scope="col"><abbr title="écoles, collèges et lycées pour l'ambition, l'innovation et la réussite">Éclair</abbr></th>
		<th scope="col">Intitulé</th>
		<th scope="col">Adresse électronique</th>
		<th scope="col" class="actions">Actions</th>
	</tr>
	
	{% for etablissement in liste_etablissement %}
		<tr{% if etablissement.actif == false %} class='inactif'{% endif %}>
			<td>{{ etablissement.uai }}</td>
						  	
			{% if etablissement.commune is not null %}
				<td>{{ etablissement.commune.codePostal }}</td>
		        <td>{{ etablissement.commune.libelle }}</td>
		    {% else %}
		        <td><abbr title="Non communiqué">N/C</abbr></td>
		        <td><abbr title="Non communiqué">N/C</abbr></td>
			{% endif %}
		        
		    <td>{% if etablissement.typePrioritaire.code is defined %}etablissement.typePrioritaire.code{% else %}N/A{% endif %}</td> 
		    <td>{{ etablissement.libelle }}</td>
		    <td>{{ etablissement.contact|lower }}</td>
		    
		    <td class="actions">
		        <a href="{{ path('EPLEAdminBundle_etablissement_modifier', { 'etablissementUai': etablissement.uai }) }}"><img src="{{ asset('images/pictos/edit.png') }}" alt="Modifier un établissement" title="Modifier l'établissement"/></a>
		        <form action="{{ path('EPLEAdminBundle_etablissement_supprimer', { 'etablissementUai': etablissement.uai }) }}" method="post">
					<input type="hidden" name="_method" value="DELETE" />
					<input type="image" class="supprimer_etab" alt="Supprimer" src="{{ asset('images/pictos/delete.png') }}" title="Supprimer l'établissement {{ etablissement.libelle }}" />
				</form>
		    </td>
		</tr>
	
	{% else %}
		<tr>
			<td colspan="7">{{ mess_erreurs[001] }}</td>
		</tr>
	{%endfor%}
</table> 