{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}{% if sousTypeElect is defined %} {{ sousTypeElect.code }} {% elseif typeElect is defined %}{{ typeElect.code }} {% endif %}
{% endblock %}

{% block arianeComplements %}{{ parent() }}
	{% if sousTypeElect is defined %}
		<li>Élections <abbr title="{{ sousTypeElect.libelle }}">{{ sousTypeElect.code }}</abbr></li>
	{% elseif typeElect is defined %}
		<li>Élections <abbr title="{{ typeElect.libelle }}">{{ typeElect.code }}</abbr></li>
	{% endif %}
{% endblock %}

{% block contentPage %}{% endblock %}
