{% extends 'EPLEElectionBundle::layout.html.twig' %} {% block js %}{{
parent() }}
<script src="{{ asset('js/saisieResultats.js') }}"></script>
{% endblock %} {% block title %}{{ parent() }} - Contacter les
établissements{% endblock %} {% block arianeComplements %}{{ parent() }}
<li>{% if profil is defined %} Chef d'établissement {% elseif zone ==
	'Nationale' %} {{ zone }} {% else %} {{ zone }}
<li>{{ zoneUser.libelle }}</li>
{% endif %}

	<li>Contacter les {{ typeContact }}
{% endblock %}

{% block contentPage %}
<h3>Envoi des alertes</h3>
<h4>Les alertes seront envoyées à {{ nbEtabSaisieManquante }} établissement{% if nbEtabSaisieManquante > 1 %}s{% endif %} qui n'{% if nbEtabSaisieManquante > 1 %}ont{% else %}a{% endif %} pas saisi les résultats,
<br/> et à {{ nbEtabValidationManquante }} établissement{% if nbEtabValidationManquante > 1 %}s{% endif %} 
qui n'{% if nbEtabValidationManquante > 1 %}ont{% else %}a{% endif %} pas encore validé {% if nbEtabValidationManquante > 1 %}leur{% else %}sa{% endif %} saisie.</h4>
{% if form is defined %}
	{% include 'EPLEElectionBundle:Courriel:formContact.html.twig' with { 'form' : form } %}
{% endif %}
    
<div class="pageactions">
	<a href="{{ path('EPLEElectionBundle_tableau_bord') }}" class="retour">Retour</a>
</div>

{% endblock %}